body {
  background-color: #FFF7E5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

h1, h2, h3, p {
  color: black;
}

.general-grid {
  height: 1000px;
  display: grid;
  grid-template-areas: 'header' 'contenido' 'footer';
  grid-template-rows: 10% auto 10%;
  grid-template-columns: auto;
}

@media (max-width: 600px) {
  .general-grid {
    grid-template-areas: 
      'header'
      'contenido'
      'footer';    
    grid-template-rows: 20% auto 10%;
    grid-template-columns: 100%;
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }
}

#mensaje-bienvenida{
  background-color: #F68080;
}
.cell {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #F68080;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #FFE5E5;
  text-align: center;
  color: black;
  position: relative;
}

header {
  grid-area: header;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

footer {
  grid-area: footer;
  padding: 0;
  text-align: center;
}

footer p {
  margin: 10px 0;
  padding: 0;
  color: #F68080;
}

address a {
  text-decoration: none;
  color: #F68080;
}

#titulo {
  grid-area: titulo;
  font-size: 3em;
  padding: 20px;
}

#titulo a {
  text-decoration: none;
  color: #F68080;
}

#menu {
  grid-area: header;
  font-size: 20px;
  padding: 20px;
  color: #F68080;
}

#menu nav {
  font-size: 20px;
  text-align: center; /* Centra el texto en la barra de navegación */
}

#menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu nav li {
  display: inline-block;
  margin-right: 30px;
}

@media (max-width: 600px) {
  #menu nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#menu nav a {
  text-decoration: none;
  color: #F68080;
}

#menu nav a:hover {
  color: black;
}

.main-cell {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.home-background {
  background-image: url('components/img/landing-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.default-background {
  background-color: #FFF7E5;
}

form {
  background-color: #FFE5E5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #F68080;
  color: black;
}

form h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #F68080;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #F46565;
}

@media (max-width: 600px) {
  form input, form select {
    width: 100%;
  }
}

#enlace-registro {
  color: black;
}

#enlace-registro a {
  text-decoration: none;
  color: #F68080;
}

#enlace-registro a:hover {
  color: #F46565;
}

.home {
  text-align: left;
  padding: 20px;
  color: black;
}

@media (max-width: 800px) {
  .home {
    text-align: center;
  }

  .home h1 {
    font-size: 2em;
    color: white;
    background-color: #F68080;
    border-radius: 10px;
  }
}

.search-bar {
  margin-top: 20px;
  text-align: left;
}

.search-bar input {
  width: 30%;
  padding: 10px;
  border: 2px solid #F68080;
  border-radius: 25px;
  font-size: 1em;
  background-color: #ffe5e5;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar input::placeholder {
  color: #F68080;
}

.search-bar input:focus {
  border-color: #f49fbc;
}

.button-style {
  padding: 10px 20px;
  margin-left: 75px;
  border: 2px solid #F68080;
  border-radius: 25px;
  font-size: 1em;
  background-color: #ffe5e5;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  text-align: center;
  display: inline-block;
}

@media (max-width: 800px) {
  .button-style {
    margin-left: 0;
  }
}

.button-style:hover {
  border-color: #f49fbc;
}

.button-style:focus {
  border-color: #f49fbc;
}

.perfil {
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffe5e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 600px) {
  .perfil {
    width: 90%;
    padding: 10px;
  }
}

.perfil h2 {
  margin-bottom: 20px;
  color: #F68080;
}

.perfil h3 {
  margin-bottom: 10px;
  color: #F68080;
}

.perfil p {
  margin-bottom: 10px;
  color: #1B0202;
}

.perfil strong {
  font-weight: bold;
}

.recetas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 800px) {
  .recetas-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .recetas-container {
    grid-template-columns: 1fr;
  }
}

.recetas-titulo {
  color: black;
}

.column {
  background-color: #ffe5e5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  border: 1px solid #F68080;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
}

.column h2 {
  text-align: center;
  color: #F68080;
}

.recetas-search-bar {
  margin: 20px;
}

.recetas-search-bar input,
.individual-search-bar input {
  width: 80%;
  padding: 10px;
  border: 2px solid #F68080;
  border-radius: 25px;
  font-size: 1em;
  background-color: #ffe5e5;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.recetas-search-bar input::placeholder,
.individual-search-bar input::placeholder {
  color: #F68080;
}

.recetas-search-bar input:focus,
.individual-search-bar input:focus {
  border-color: #f49fbc;
}

.recetas-container a {
  text-decoration: none;
  color: black;
}

.recetas-container a:hover {
  color: #F68080;
}

#titulo-receta,
#titulo-ingrediente {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.oms-container {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .oms-container {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 20px;
  }
}

.receta-detalles h1,
.ingrediente-detalles h1 {
  text-align: center;
  color: #F68080;
}

.receta-detalles p,
.ingrediente-detalles p {
  margin-bottom: 10px;
}

.receta-detalles .listado-ingredientes p {
  margin-left: 60px;
  text-align: left;
}

.receta-detalles .listado-ingredientes ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.receta-detalles .listado-ingredientes ul li {
  display: inline-block;
  background: #ffe4e1;
  box-shadow: #F68080 2px 2px 5px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 10px;
}

.receta-detalles .listado-ingredientes ul li a {
  text-decoration: none;
  color: black;
}

.receta-detalles .listado-ingredientes ul li a:hover {
  color: #F68080;
}

.receta-detalles .steps {
  margin-top: 20px;
  text-align: left;
  padding: 5px 10px;
  background: #ffe4e1;
  box-shadow: #F68080 2px 2px 5px;
  border-radius: 10px;
  margin: 30px 30px;
}

.receta-detalles .steps p {
  margin-left: 20px;
}

.receta-detalles .steps ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.receta-detalles .steps ul li {
  margin-bottom: 10px;
}

.receta-detalles .reviews {
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
}

.receta-detalles .reviews p {
  margin-left: 20px;
}

.receta-detalles .reviews ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.receta-detalles .reviews ul li {
  margin-top: 20px;
  text-align: left;
  padding: 5px 10px;
  background: #F3FDE8;
  box-shadow: #F68080 2px 2px 5px;
  border-radius: 10px;
  margin: 30px 30px;
}

.receta-detalles .reviews ul li strong {
  color: #F68080;
}

.receta-detalles h3,
.ingrediente-detalles h3 {
  text-align: center;
  color: #F68080;
  margin-top: 50px;
}

.receta-item {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  border-bottom: 1px solid #F68080;
  padding-bottom: 10px;
}

.receta-item:hover {
  color: #F68080;
}

.receta-item:last-child {
  border-bottom: none;
}

.oms-container h3 {
  margin-top: 20px;
  color: #F68080;
}

.dietas-container {
  padding: 20px;
  background-color: #FFE5E5;
  border-radius: 10px;
  border: 1px solid #F68080;
}

.dietas-container h2 {
  text-align: center;
  color: #F68080;
}

.new-dieta-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #F68080;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-dieta-btn:hover {
  background-color: #F46565;
}

.diet-list {
  margin-top: 20px;
  color: black;
}

.diet-item {
  background-color: #ffe5e5;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.diet-item:last-child {
  margin-bottom: 0;
}

.dish-row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .dish-row {
    flex-direction: column;
    align-items: center;
  }
}

.dish,
.create-dish {
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 20px);
  margin: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dish:last-child {
  margin-right: 60px;
}

@media (max-width: 600px){
  .dish:last-child {
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 20px);
    margin: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}

.create-dish:last-child {
  margin-right: 0;
}

.dish p {
  margin: 0;
}

.dish p + p {
  margin-top: 10px;
}

.dish a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.dish a:hover {
  color: #F68080;
}

.delete-button {
  position: absolute;
  top: 65%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.delete-button:hover {
  background-color: #c82333;
}

@media (max-width: 600px) {
  .delete-button {
    position: static;
    margin: 10px auto 0; /* Centra el botón y añade margen superior */
    transform: none; /* Resetea la transformación */
  }
}

.nutritional-info-table,
.restricciones-tabla {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .nutritional-info-table,
  .restricciones-tabla {
    width: 90%;
  }
}

.nutritional-info-table th,
.nutritional-info-table td,
.restricciones-tabla th,
.restricciones-tabla td {
  padding: 10px;
  text-align: center;
}

.nutritional-info-table th,
.restricciones-tabla th {
  background-color: #F68080;
  color: white;
}

.nutritional-info-table td,
.restricciones-tabla td {
  border-bottom: 1px solid #ddd;
}

.nutritional-info-table tr:nth-child(even),
.restricciones-tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nutritional-info-table tr:hover,
.restricciones-tabla tr:hover {
  background-color: #f5f5f5;
}

.react-select-container .react-select__control {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-select-container .react-select__control:hover {
  border-color: #F68080;
}

.react-select-container .react-select__menu {
  background-color: #FFE5E5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-select-container .react-select__option {
  padding: 10px;
  color: #333;
}

.react-select-container .react-select__option--is-selected {
  background-color: #F68080;
  color: white;
}

.react-select-container .react-select__option--is-focused {
  background-color: #f9f9f9;
  color: #333;
}

.react-select-container .react-select__multi-value {
  background-color: #FFE5E5;
  border: 1px solid #F68080;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.react-select-container .react-select__multi-value__label {
  color: #333;
}

.react-select-container .react-select__multi-value__remove {
  color: #F68080;
  cursor: pointer;
}

.react-select-container .react-select__multi-value__remove:hover {
  background-color: #F46565;
  color: white;
}

.listado-idiomas-gastro p {
  margin-left: 60px;
  text-align: left;
}

.listado-idiomas-gastro ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.listado-idiomas-gastro ul li {
  display: inline-block;
  background: #ffe4e1;
  box-shadow: #F68080 2px 2px 5px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 10px;
}

.listado-idiomas-gastro ul li a {
  text-decoration: none;
  color: black;
}

.listado-idiomas-gastro ul li a:hover {
  color: #F68080;
}

.listado-idiomas-gastro h3 {
  margin-top: 30px;
}

.nutrient-counter {
  background-color: #FFE5E5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #F68080;
  margin: 20px auto;
  text-align: center;
  max-width: 800px;
  color: black;
}

@media (max-width: 600px) {
  .nutrient-counter {
    max-width: 90%;
    padding: 10px;
  }
}

.nutrient-counter h3 {
  color: #F68080;
  margin-bottom: 20px;
}

.nutrient-counter p {
  margin: 10px 0;
}

.exceeds-limit {
  color: red;
}


.compound-item {
  display: inline-block;
  background: #ffe4e1;
  box-shadow: #F68080 2px 2px 5px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 10px;
}


#fecha-creacion-dieta{
  text-align: left;
  margin-left: 20px;
  color: #F68080;
}